<html>
  <head>
    {% if title %}
    <title>{{ title }} - testsite</title>
    {% else %}
    <title>Welcome to the testsite</title>
    {% endif %}
  </head>
  <body>
    <div>Mini Projects: <a href="/index">Home</a> <a href="/project1">Project 1</a> 
    <a href="/project21">Project 2.1</a> <a href="/project22">Project 2.2</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body}
</html>
