{% extends "base.html" %}
{% block content %}

<form action="/submitted" method="post">
  <p>Enter Name:</p>
  <p><input type="text" name="Name"/></p>
  <p><input type="submit" value="Submit" /></p>
</form>

<form action="/user" method="get">
  <p>Enter ID of user to see:</p>
  <input type="submit" value="Read name" />
  <input type="text" name="Id" />
</form>

{% endblock %}
