{% extends "base.html" %}
{% block content %}
<center>
<table border=1 width="30%">
  <thead>
    <th>Id</td>
    <th>Name</td>
  </thead>

  <tr>
    <td>{{ user.id }}</td>
    <td>{{ user.name }}</td>
  </tr>

</table>
</center>
{% endblock %}
