{% extends "base.html" %}
{% block content %}
<div clas="container-fluid" role="main">
  <h1>Tweet list</h1>
  <center>
  <table style="width:80%" border="1">
  	<tr>
      <th>Tweet</th>
      <th>Date & Time</th>
    </tr>
  	{% for tweet in tweets[:5] %}
  		<tr>
  			<td>{{ tweet['text'] }}</td>
  			<td>{{ tweet['created_at'][:20] }}</td>
  	  </tr>
	{% endfor %}


  </table>
  </center>

<p>See JSON for a single tweet</p>
<button onclick="myFunction()">Click Me!</button>

<p id="TweetJSON"></p>

<script>
function myFunction() {
    document.getElementById("TweetJSON").innerHTML = "{{ tweets[0] }}";
}
</script>

</div>

{% endblock %}
