{% extends "base.html" %}
{% block content %}
<center>
  <table border="1" style="width:60%">
    <tr>
      <th>ID</th>
      <th>Course</th>
      <th>Instructor</th>
    </tr>
      {{ data }}
  </table>
</center>
{% endblock %}
